.chat-sidebar-header {
  align-items: center;
  padding: 10px 15px;
  background-color: cadetblue;
}

.chat-sidebar-content {
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}
