@import 'src/app/@shared/styles/common.scss';

.chat-content-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;

  .chat-content-bottom-toolbar {
    font-size: large;
    background-color: $devui-highlight-overlay;
    border: 1px solid $devui-line;
    em {
      padding-left: 5px;
    }
  }

  .chat-content-bottom-textarea {
    width: 100%;
  }

  .chat-content-bottom-send {
    padding: 5px;
  }
}
